#u-btn-create{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #3DB271;
    color: #fff;
    border: none;
    outline: none;
}

.m-note{
    position: relative;
    left: 40px;
    top: 100px;
    width: 220px;
    height:300px;
    background: #99D9EA;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}
.m-note:hover .u-close{
    display: inline-block;
}
.u-close{
    display: none;
    position: absolute;
    top: -10px;
    left: -10px;
    width: 30px;
    height: 30px;
    background: url(./imgs/close.png) no-repeat; 
    background-size:26px 26px;   
}

.u-edit{
    position: relative;
    width: 200px;
    height: 225px;
    padding: 10px;
    font-size: 13px;
    line-height: 24px;
    outline: none;
    overflow-y: auto;
}
.u-edit::-webkit-scrollbar{
  width: 6px;
  background-color: #ccc;
}
.u-edit::-webkit-scrollbar-thumb{
  background-color: #6FBBCF;
}

.u-title{
    height: 25px;
    padding-left:20px; 
    border-bottom: 1px solid #A3CED9;
}

.u-timeUpdate{
    position: absolute;
    bottom: 0;
    width: 210px;
    height: 30px;
    padding-left: 10px;
    line-height: 30px;
    font-size:12px; 
    background-color: #6FBBCF;
}